* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fff;   
  color: #212529;           
  line-height: 1.5;
}

.intestazione {
  background-color: #212529;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.contenitore-header {
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-logo {
  margin-left: 10px;
}

.menu {
  margin-right: 10px;
}

.logo {
  width: 70px;
  height: 60px;
  object-fit: cover;
}

.lista-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}
.link-menu {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  font-weight: 400;
  transition: color 0.4s ease;
}
.link-menu:hover {
  color: #fd7e14;
}
.link-menu.attivo {
  color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  background-image: url("Immagini/sfondoHero.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 3rem 1rem;        
  color: #fff;
}

.contenitore-hero {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  gap: 400px;
}
@media (max-width: 992px) {
  .contenitore-hero {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 40px;
  }
}

.sottotitolo {
  color: rgba(255,255,255,0.6); 
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.titolo {
  font-size: 2.5rem; 
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.ruolo {
  font-size: 2.25rem; 
  font-weight: 400;
  color: #f8f9fa;     
  margin-bottom: 1rem;
}
.descrizione {
  color: rgba(255,255,255,0.75); 
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.bottone-primario {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  background-color: #495057;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 1.125rem;
  transition: background-color 0.3s ease;
}
.bottone-primario:hover {
  background-color: #23272b;
}


.box-foto {
  margin-top: 30px;
  padding-top: 30px;
  tranform: translateY(200px);
}
@media (min-width: 992px) {
  .box-foto {
    margin-top: 0;
  }
}
.foto {
  border-radius: 50%;
  border: 3px solid #fff;
  height: 20rem;
}

@media (max-width: 1200px) {
  .sottotitolo {
    color: rgba(255,255,255,0.6); 
    margin-bottom: 0.5rem;
  }
  .titolo {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1rem; 
  }
  .ruolo {
    font-weight: 400;
    color: #f8f9fa;     
    margin-bottom: 1rem;
    font-size: 1rem; 
  }
  .descrizione {
    color: rgba(255,255,255,0.75); 
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
}

.sezione-main {
  background: #fff;
  color: #212529;
  padding: 4rem 1rem;
}

.griglia-main {
  max-width: 1320px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


.box h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.box p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.link {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
}
.link:hover {
  text-decoration: underline;
}


.griglia-progetti {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}
.progetto {
  background: #f1f3f5;
  border: 1px solid #dee2e6;
  padding: 0.5rem;
  text-align: center;
  border-radius: 6px;
}

/
.griglia-main > .box.tecnologie {
  grid-column: 1 / 2 !important;
}

.griglia-tecnologie {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
.griglia-tecnologie img {
  width: 60px;
  height: auto;
}


.cta {
  grid-column: 1 / -1; 
  text-align: center;
  padding: 2rem 0;
}
.bottone {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  background: #495057;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
}
.bottone:hover {
  background: #23272b;
}


@media (max-width: 992px) {
  .griglia-main {
    grid-template-columns: 1fr;
  }
  .griglia-progetti {
    grid-template-columns: 1fr;
  }
  .griglia-tecnologie {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  border-radius: 0.3rem;
  transition: background 0.3s, transform 0.2s;
}


.bottone-scuro {
  background-color: #212529;
  color: #fff;
}
.bottone-scuro:hover {
  background-color: #000;
  transform: translateY(-2px);
}


.bottone-chiaro {
  background-color: #fff;
  color: #212529;
  border: 1px solid #dee2e6;
}
.bottone-chiaro:hover {
  background-color: #f8f9fa;
  transform: translateY(-2px);
}

@media (max-width: 992px) {
  .foto {
    border-radius: 50%;
    border: 3px solid #fff;
    height: 10rem;
  }
}


.sezione-main {
  background-color: #fff;
  color: #212529;
  padding: 5rem 1rem;
}

.griglia-main {
  max-width: 1320px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
  gap: 4rem 3rem;
  align-items: start;
}


.box {
  position: relative;
  padding-bottom: 2rem;
}

.box:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background: linear-gradient(90deg, #fd7e14, transparent);
  opacity: 0.3;
}


.box h2 {
  font-size: 1.7rem;
  margin-bottom: 0.8rem;
  color: #000;
  font-weight: 600;
}

.box p {
  color: #444;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}


.bottone-link {
  display: inline-block;
  text-decoration: none;
  color: #fd7e14;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
}

.bottone-link:hover {
  border-color: #fd7e14;
  padding-left: 0.3rem;
}


.bottone-scuro {
  display: inline-block;
  background-color: #212529;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  border-radius: 4px;
  transition: background 0.3s;
}

.bottone-scuro:hover {
  background-color: #fd7e14;
}


.griglia-progetti {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin-bottom: 1.2rem;
}

.progetto {
  text-align: center;
}

.progetto img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s, filter 0.3s;
  filter: brightness(0.95);
}

.progetto img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.progetto p {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: #555;
}


.cv {
  text-align: center;
  transform: translateX(50px);
}

.anteprima-cv {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.anteprima-cv img {
  width: 100%;
  max-width: 260px;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  transition: transform 0.3s ease;
}

.anteprima-cv img:hover {
  transform: scale(1.03);
}


.tecnologie {
  grid-column: 1 / 2;
}

.griglia-tecnologie {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1.2rem;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

.tech img {
  width: 60px;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.3s ease;
}

.tech img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1);
}

.tech span {
  font-size: 0.9rem;
  color: #333;
}


.cta {
  text-align: center;
  margin-top: 1rem;
}

.cta h2 {
  margin-bottom: 0.8rem;
}

.cta p {
  margin-bottom: 1.5rem;
  color: #555;
}


@media (max-width: 768px) {

  .cv {
    transform: translateX(0px);
  }

  .griglia-main {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .box::after {
    width: 100%;
  }

  .griglia-tecnologie {
    justify-content: center;
  }
}

.s-curriculum {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.curriculum {
  display: flex;
  width: 950px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  animation: comparsa 1s ease forwards;
}

.colonna-sinistra {
  background-color: #222;
  color: #f5f5f5;
  width: 35%;
  padding: 40px 30px;
}

.avatar{
  width: 100%;
  max-width: 220px;          
  margin: 0 auto 20px;
  aspect-ratio: 1 / 1;       
  border-radius: 50%;         
  overflow: hidden;          
}

.avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;         
  display: block;            
}

.foto-profilo {
  border-radius: 50%;
  border: 3px solid #fff;
  height: 20rem;
}

.colonna-sinistra h2 {
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

.colonna-sinistra ul {
  list-style: none;
}

.colonna-sinistra li {
  font-size: 14px;
  line-height: 1.6;
}

.colonna-sinistra p {
  font-size: 14px;
  line-height: 1.6;
}

.foto-profilo {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}


.colonna-destra {
  background-color: #f9f9f9;
  color: #222;
  width: 65%;
  padding: 40px 50px;
}

.introduzione {
  transform: translateY(50px);
}

.sezione-intro h1 {
  font-size: 26px;
  color: #111;
  margin-bottom: 5px;
}

.sezione-intro p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.sezione-intro a {
  color: #333;
  text-decoration: none;
}

.blocco {
  margin-top: 30px;
}

.blocco h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #111;
  border-bottom: 2px solid #ddd;
  padding-bottom: 4px;
}

.blocco p, 
.blocco li {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
}

.blocco ul {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 20px;
}


@keyframes comparsa {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f7fc;
  margin: 0;
  padding: 0;
}

.sezione-contatto {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  transform: translateY(70px);
}

.contenitore-contatto {
  display: flex;
  background: #fff;
  max-width: 1100px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.colonna-sinistra-info {
  flex: 1;
  background-color: #e9eef6;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.titolo-sezione {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 25px;
  font-size: 20px;
}


.griglia-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.blocco-info {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.icona {
  font-size: 28px;
  display: block;
  margin-bottom: 8px;
}

.blocco-info h3 {
  color: #1c2b5e;
  margin: 5px 0;
  font-size: 16px;
}

.blocco-info p {
  color: #333;
  font-size: 14px;
  margin: 2px 0;
}


@media (max-width: 700px) {
  .griglia-info {
    grid-template-columns: 1fr;
  }
}


.colonna-destra {
  flex: 1;
  background-color: #f5f6fa;
  padding: 30px;
}

.modulo-contatto {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campo-doppio {
  display: flex;
  gap: 15px;
}

.campo-doppio input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}


.captcha {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campo-captcha {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testo-captcha {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-family: monospace;
  font-size: 16px;
  border-radius: 4px;
}

.captcha input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

small {
  font-size: 12px;
  color: #555;
}


.bottone-invia {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.bottone-invia:hover {
  background-color: #2e417a;
  transform: translateY(-2px);
}


@media (max-width: 900px) {
  .contenitore-contatto {
    flex-direction: column;
  }
}